* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* try at animation */

@keyframes promo {
    0% {top : 100%;}
    4% { top : 0%}
    33.33% {top: 0%}
    37.33% {top: -100%}
    100% { top: -100%}
}
.promoContainer {
    border: solid red;
    height: 50px;
    background: #fff;
    color: black;
    display: flex;
    overflow: hidden;
    position: relative;
}
.promotional{
    border: solid fuchsia;
    display: flex;
    margin-left: 40px;
    width: 100%;
    height: 100%;
}
.promoDivs {
    border: solid blue;
    width: 60%;
    height: 100%;
    margin-left: 180px;
}
.promos{
    border: solid lime;
    height: 30px;
    text-align: center;
    margin: 5px 0 12px 0;
    position: relative;
    animation: 10s promo infinite ease-in-out;
}

.close {
    border: solid white;
    width: 15px;
    height: 15px;
    margin: 15px 40px 0 0;
}


/* navbar */
.navBar {
    height: 80px;
    width: 100%;
    box-shadow: inset 0 30px 30px -7px rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    font-size: 12px;
    color: #fff;
}
.navBar:hover {
    background-color: #000;
}
.mainNav {
    display: flex;
    border: solid yellowgreen;
    height: 80px;
}
.navLeft {
    display: flex;
    justify-content: space-between;
    width: 65%;
    border: solid orange;
}
.navLeftText {
    display: flex;
    margin: 25px 0 0 20px;
}
.navLeftText p {
    margin-right: 15px
}
.map {
    margin-top: -5px;
}


.gucciLogo {
    height: 40%;
    margin-top: 20px;
}
.navRight {
    border: solid lightskyblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
    margin-right: 20px;
}
.heart {
    border: solid pink;
    width: 90px;
    display: flex;
    justify-content: space-between;
}
.heart p {
    margin-top: 5px;
}
.bag {
    border: solid yellow;
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.bag p {
    margin-top: 5px;
}
.searchIcon {
    width: 15px;
    filter: invert(10);
}
.circle {
    border: 2.5px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 30px;
}

/* SUBNAV */
.list{
    z-index: 9999;
    border: solid white;
    font-size: 12px;
    height: 60px;
    padding-top: 20px;

}
.navBarScroll {
    background: black;
    transition: all 0.5s;
}
.list ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}



/* top main promo */
.mainImage {
    margin-top: 50px;
    background-image: url("https://media.gucci.com/content/HeroBigStandard_1600x760/1685615407/HeroBigStandard_FDAY-June6-def_001_Default.jpg");
    height: 100vh;
    width: 100%;
    object-fit: cover;
    text-align: center;
    color: #fff;
}
.mainDesc {
    border: solid salmon;
    padding: 180px 40px 0 40px;
}
h1 {
    font-size: 50px;
    font-weight: 300;
}
.shop {
    margin-top: 10px;
    border: none;
    background: #fff;
    color: #000;
    width: 150px;
    height: 60px;
    font-size: 15px;
}

/* -----ARROWS 1------ */
.pointers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}
.arrow {
    width: 50px;
}
.one {
    transform: rotate(180deg);
    filter: invert(10)
}
.two {
    filter: invert(10)
}

/* ---------------- */

/* bag carousel */
.bagContainer {
    /* display: flex;
    justify-content: center;  */
    border: 2px solid green;
}
.bagImages {
    border: solid red;
    width: 100%;
}
.handbag {
    border: solid red;
    height: 60%;
    
}
.bagImages p {
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 20px;
}
/* ARROWS */
.pointers2 {
    width: 100%;
    filter: invert(0);
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 180px 30px 0 30px;
}
.another {
    transform: rotate(180deg);
}
/* ------------ */
.centerBag{
    display: flex;
    justify-content: center;
}
.centerButton {
    display: flex;
    justify-content: center;
}
.shopNow {
    width: 150px;
    height: 60px;
    background: #000;
    color: #fff;
    border: none;
}

/* editorial */
.editorial {
    border: solid brown;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.editorial img {
    height: 95%;
    width: 95%;
}

/* gucci summer stories title */
.summer h1 {
    text-align: center;
    margin: 30px 0 60px 0;
}

/*  GUCCI CAMPAIGN*/
.summerCampaign {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.guy {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* text-align: center; */
}
.middleStories {
    width: 80%;
    height: 75%;
    border: 2px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.summerStories{
    border: solid blueviolet;
    width: 200px;
    height: 200px;
    margin-left: -25px;
    margin-top: 12px;
    text-align: center;
    padding: 25px;
    background: #fff;
    opacity: 70%;
    color: gray;
}
.summerStories p {
    font-size: 27px;
    margin-bottom: 15px;
}
.summerStories a {
    font-size: 12px;
    color: gray;
}